.titleText{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
